<!DOCTYPE html>

<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Lagerhaus</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="css/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Modernizer for Portfolio -->
    <script src="js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="realestate_version">

    <!-- LOADER -->
    <div id="preloader">
        <span class="loader"><span class="loader-inner"></span></span>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="images/logos/logo1.png" alt="image" height = "90" width = '120' ></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="active" href="/pro"><%= user.p_fname %></a></li>
                        
                        <li><a href="/properties">Warehouses</a></li>
                        <li><a href="/gallery">Gallery</a></li>                    
                        <li><a href="/service">Service</a></li> 
                        <li><a href="/contact">Contact</a></li>
                        <li><a  href="/about">About us </a></li>
                        <li ><a href="/logout" >Logout</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

	
	<ul class='slideshow'>
		<li>
			<span>Summer</span>
		</li>
		<li>		
			<span>Fall</span>
		</li>
		<li>		
			<span>Winter</span>
		</li>
		<li>
			<span>Spring</span>
		</li>
	</ul>
	
    <div class="parallax first-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow slideInLeft hidden-xs hidden-sm">
                    <div class="contact_form">
                        <h3><i class="fa fa-envelope-o grd1 global-radius"></i> QUICK LINKS</h3>
                        <fieldset class="row-fluid">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <a class="btn btn-light btn-radius btn-brd grd1 btn-block" href="/properties" >View Warehouses</a>
                                <a class="btn btn-light btn-radius btn-brd grd1 btn-block" href="/addwarehouse" >Advertise Warehouse</a>
                                <a class="btn btn-light btn-radius btn-brd grd1 btn-block" href="/pro" >View Profile</a>
                           
                            </div> </br>
                           
                        </fieldset>

                    </div>
                </div>

				<div class="col-md-6 col-sm-12">
                    <div class="big-tagline clearfix">
                        <h2>Rent Your Property with Lagerhaus</h2>
                        <p class="lead">Lagerhaus is a storage platform for consumers and business. It provides safe and secure storage options for consumers looking to rent space.  </p>
                        <a data-scroll href="/gallery" class="btn btn-light btn-radius grd1 btn-brd">View Gallery</a>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
	<div class="about-box">
		<div class="container">
			<div class="row">
				<div class="top-feature owl-carousel owl-theme">
					<div class="item">
						<div class="single-feature">
							<div class="icon"><img src="uploads/icon-01.png" class="img-responsive" alt=""></div>
							<h4><a href="#">Proper Location:</a></h4>
							<p>For effective movement of goods and cost saving, Lagerhaus warehouse is established at places, which are convenient to both the buyer and the seller. </p> </br> </br>
						</div> 
					</div>
					<div class="item">
						<div class="single-feature">
							<div class="icon"><img src="uploads/icon-02.png" class="img-responsive" alt=""></div>
							<h4><a href="#">Use of Mechanical Appliances:</a></h4>
							<p>In the warehouses, mechanical appliances is used to load and unload the goods. It not only results in safety of men and material but also reduces wastages in handling goods and overall handling costs</p></br>
						</div> 
					</div>
					<div class="item">
						<div class="single-feature">
							<div class="icon"><img src="uploads/icon-03.png" class="img-responsive" alt=""></div>
							<h4><a href="#"> Sufficient Space:</a></h4>
							<p>For an ideal warehouse, adequate space should be covered for maximum storage and to keep the goods in proper order. Lagerhaus provides the same. </p> </br> </br>
						</div> 
					</div>
					<div class="item">
						<div class="single-feature">
							<div class="icon"><img src="uploads/icon-04.png" class="img-responsive" alt=""></div>
							<h4><a href="#">Non Stop Security</a></h4>
							<p>A warehouse, which basically is used to store eatables or perishable goods like bread, butter, fruits, eggs and vegetables should be equipped with proper cold storage, moisture resistance etc facilities.  </p> </br>
						</div> 
					</div>
				</div>
			</div>
			
			<hr class="hr1">
			
			<div class="row">
				<div class="col-md-6">
                    <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <img src="uploads/about_bg.jpg" alt="" class="img-responsive">                        
                    </div><!-- end media -->
                </div>
				<div class="col-md-6">
					<div class="message-box right-ab">
                        <h4>Awards Winning Warehouse Management Company</h4>
                        <h2>Welcome to Lagerhaus</h2>
                        <p>Lagerhaus is a storage platform for consumers and business. It provides safe and secure storage options for consumers looking to rent space to keep their stuff while they are away or if they just want to create more living space for themselves.</p>
						<p>The space is provided by a storage space lender who also signs up into the application and gives details such as location, size, and rent per month or year. Lender should be renting the space for fixed time which is chosen by him.   </p>
						<!--<a href="#" class="btn btn-light btn-radius grd1 btn-brd"> Read More </a> -->
                    </div>
				</div>
			</div>
			
		</div>
	</div>

    <div id="agent" class="parallax section db parallax-off" style="background-image:url('uploads/parallax_02.png');">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Agent Details</h3>
                    <p class="lead">The agents help you to assist which warehouse to rent and good for your ease</p>
                </div><!-- end col -->
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>The Agent</h4>
                        <h2>Somya Abichandani</h2>
                        <p class="lead"> Somya Abichandani is the student in Christ University</p>

                        <p>Contact us to get assistant. </p>

                        <a href="contact.html" data-scroll class="btn btn-light global-radius btn-brd grd1 effect-1">Contact Me</a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				<div class="col-md-3">
                    <div class="post-media wow fadeIn">
                        <img src="uploads/agent1.jpg" alt="" class="img-responsive">
                       <!-- <a href="#" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>-->
                    </div><!-- end media -->
                </div><!-- end col -->
                <div class="col-md-3">
                    <div class="agencies_meta clearfix">
                        <span><i class="fa fa-envelope "></i> <a href="mailto:support@sitename.com">support@lagerhaus.com</a></span>
                        <span><i class="fa fa-link "></i> <a href="#">somya@lagerhaus.in</a></span>
                        <span><i class="fa fa-phone-square "></i> 7737112219</span>
                        <span><i class="fa fa-print "></i> 8112254208</span>
                        <span><i class="fa fa-facebook-square "></i> <a href="#">facebook.com/lagerhaus</a></span>
                        <span><i class="fa fa-twitter-square "></i> <a href="#">twitter.com/lagerhaus</a></span>
                        <span><i class="fa fa-linkedin-square "></i> <a href="#">linkedin.com/lagerhaus</a></span>
                    </div><!-- end agencies_meta -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div>
    </div>

    <div id="testimonials" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Happy Customers</h3>
                    <p class="lead">Customer satisfaction is needed for every successful company to survive. We take into consideration all the needs and feedbacks of the customer.</p>
                </div><!-- end col -->
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                    <% 
                    for(var i=0; i < result.length ; i++)
                    {   
                    %>
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i><%=result[i].f_title %> <i class="fa fa-quote-right"></i></h3>
                                <p class="lead"><%=result[i].f_description %></p>
                            </div>
                            <div class="testi-meta">
                                    <img src="<%= result[i].p_profilePicture %>" alt="" class="img-responsive alignleft">
                                <h4><%  console.log(result[i].p_fname); %>
                                    <%=result[i].p_fname %> <small>- <%=result[i].f_stars.toString() %></small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                    <%
                    }
                    %>
                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <img src="images/logos/logo-realestate.png" alt="">
                        </div>
                        <p> Lagerhaus is a storage platform for consumers and business. It provides safe and secure storage options for consumers looking to rent space.</p>
                        <p></p>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Info Link</h3>
                        </div>

                        <ul class="twitter-widget footer-links">
                            <li><a href="#"> Home </a></li>
                            <li><a href="#"> About Us </a></li>
                            <li><a href="#"> Services</a></li>
							<li><a href="#"> Gallery</a></li>
							<li><a href="#"> Properties</a></li>
							<li><a href="#"> Contact</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
				<div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">info@lagerhaus.com</a></li>
                            <li><a href="#">www.lagerhaus.com</a></li>
                            <li>Christ University, Bangalore</li>
                            <li>+91 7737112219</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Social</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a href="#"><i class="fa fa-github"></i> Github</a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i> Dribbble</a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Lagerhaus</a> Design By : <a href="https://html.design/">Somya Abichandani</a></p>
                </div>

                <div class="footer-right">
                    <form method="get" action="#">
                        <input placeholder="Subscribe our newsletter.." name="search">
                        <i class="fa fa-envelope-o"></i>
                    </form>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>
    <script src="js/portfolio.js"></script>
    <script src="js/hoverdir.js"></script>    
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
   <!-- MAP & CONTACT -->
    <script src="js/map.js"></script>

</body>
</html>