<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    
    .side li
    {
        margin-top: 2% !important;
        margin-bottom: 0% !important;
    }
    .side a
    {
        color: white;
        z-index: 100;
    }
    .side a:hover
    {
        background-color: white !important;
        color: black !important;
        z-index: 100;
    }
    .side.active
    {
        background-color: white !important;
        color: black !important;
        z-index: 100;
        
    }
    </style>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Lagerhaus </title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="css/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Modernizer for Portfolio -->
    <script src="js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="realestate_version">

    <!-- LOADER -->
    <div id="preloader">
        <span class="loader"><span class="loader-inner"></span></span>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="images/logos/logo1.png" alt="image"height = "90" width = '120'></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="active" href="/"><%= user.p_fname %></a></li>
                        
                        <li><a  href="/properties">Warehouses</a></li>
                        <li><a href="/gallery">Gallery</a></li>                    
                        <li><a href="/service">Service</a></li> 
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/about">About us </a></li>
                        <li><a href="/logout" >Logout</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
	
	<div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>User Profile</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="/">Home</a></li>
							<li>Profile</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div id="features" class="clearfix side" style="background: -webkit-linear-gradient(left, #b5daae, #a8cf45, #b5daae);">
        <div style="margin-left: 5%;margin-right:5%; margin-top: 1%;margin-bottom: 0.5%;background-color: whitesmoke" class="col-sm-11 " >    
        <div class="row1" class="clearfix"  style="margin-top: 2%;margin-bottom: 2%;margin-left: 5%;margin-right: 5%">
                <div class="row" >
                        <% 
                        for(var i=0; i < result.length ; i++)
                        {   
                        %>
                        <form method="POST" action="/save/warehouse?id=+<%=result[0].w_id%>"  enctype="multipart/form-data">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="service-widget">
                                <div class="property-main">
                                    <div class="property-wrap">
                                        <figure class="post-media wow fadeIn">
                                            <img src="<%=result[i].w_image %>" style="height: 100%;width:100%" alt="" class="img-responsive">
                                        </figure>
                                        <div class="item-foot">
                                            <input type="file" name="image">
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end service -->
                        </div>
                        <div class="col-md-5" style="background-color: white;margin-top: 1%;padding: 1%;">
                            <input name="warehouse_title" type="text" style="border-bottom: 1px solid rgb(170, 170, 170);width: 100%;" value="<%= result[i].w_propertyTitle  %>">
                                        
                             <p style="margin-top:2%;font-weight:bold">Description:</p>
                            <p class="text-center"><textarea style="width: 100%" name="warehouse_description"><%= result[i].w_propertyDescription%></textarea></p>
                         <p style="font-weight:bold">Address:</p>
                      <p class="text-center"><textarea style="width: 100%" name="warehouse_address"><%= result[i].w_address%></textarea></p>
                    
                           <table>
                               <tr style="margin-top:1%">
                                    <td>
                                     <p style="font-weight:bold">Phone Number</p>
                                    </td>
                                    <td ><p style="font-weight:bold">:</p></td>
                                      <td>
                                         <p ><input type="text" value="<%= result[i].w_phone %>" name="warehouse_phone"></p>
                                    </td>
                                </tr>
                                <tr style="margin-top:1%">
                                        <td>
                                         <p style="font-weight:bold">Payment Type</p>
                                        </td>
                                        <td ><p style="font-weight:bold">:</p></td>
                                            <td>
                                             <p> <%
                                                 if(result[i].w_paymentType == 1)
                                                 {
                                                     %><%="Monthly"%><%
                                                 }
                                                 else if(result[i].w_paymentType ==2 )
                                                 {
                                                    %><%="Yearly"%><%
                                                 }
                                                 else if(result[i].w_paymentType ==3 )
                                                 {
                                                    %><%="Weekly"%><%
                                                 }
                                                 else{
                                                    %><%="Undefined"%><%
                                                 } %></p>
                                        </td>
                                    </tr>
                                    <tr style="margin-top:1%">
                                            <td>
                                             <p style="font-weight:bold">Rent</p>
                                            </td>
                                            <td ><p style="font-weight:bold">:</p></td>
                                                <td>
                                                 <p><input type="text"  value="<%= result[i].w_rent %>" name="warehouse_rent" ></p>
                                            </td>
                                        </tr>
                            </table>
                            <input class="btn btn-success btn-md" style="width: 50%;margin-left: 25%;" value="Save Edit" type="submit"> 
                        </div>
                    </form>
                        <%
                        }
                        %>

                    </div><!-- end row -->
        </div>
        </div>
	
</div><!-- end section -->
<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <img src="images/logos/logo-realestate.png" alt="">
                        </div>
                        <p> Lagerhaus is a storage platform for consumers and business. It provides safe and secure storage options for consumers looking to rent space.</p>
                        <p></p>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Info Link</h3>
                        </div>

                        <ul class="twitter-widget footer-links">
                            <li><a href="/"> Home </a></li>
                            <li><a href="/about"> About Us </a></li>
                            <li><a href="/services"> Services</a></li>
							<li><a href="/gallery"> Gallery</a></li>
							<li><a href="/properties"> Properties</a></li>
							<li><a href="/contact"> Contact</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
				<div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">info@lagerhaus.com</a></li>
                            <li><a href="#">www.lagerhaus.com</a></li>
                            <li>Christ University, Bangalore</li>
                            <li>+91 7737112219</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Social</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a href="#"><i class="fa fa-github"></i> Github</a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i> Dribbble</a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Lagerhaus</a> Design By : <a href="https://html.design/">Somya Abichandani</a></p>
                </div>

                <div class="footer-right">
                    <form method="get" action="#">
                        <input placeholder="Subscribe our newsletter.." name="search">
                        <i class="fa fa-envelope-o"></i>
                    </form>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>
    <script src="js/portfolio.js"></script>
    <script src="js/hoverdir.js"></script>    
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
   <!-- MAP & CONTACT -->
    <script src="js/map.js"></script>

</body>
</html>